
legend{
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Montserrat-Black;
    color: #333333;
    display: block;
    font-size: 25px;
}

.stay {
    background-color: rgb(247, 247, 247);
    border: 1px rgb(230, 230, 230) solid;
    border-radius: 13px;
}

.stay p {
    padding-left: 1%;
    margin-left: 1%;
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding-right: 15px;
}

.stay ul {
    padding-left: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding-right: 15px;
}