legend{
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Montserrat-Black;
    color: #333333;
    display: block;
    font-size: 25px;
}

fieldset{
    padding-left: 5px;
}